
body {
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80;
    margin: auto;
}

header {
    background: #333;
    color: #fff;
    padding-top: 20px; 
    text-align: center;
}